name: Build

on:
  push:
    paths:
      - 'sms-gateway/**'
  pull_request:
    paths:
      - 'sms-gateway/**'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test build
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test build
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --all \
            --target sms-gateway
